<table>
  <tr>
      <td>First Name</td>
      <td>{{firstName}}</td>
  </tr>
  <tr>
      <td>Last Name</td>
      <td>{{lastName}}</td>
  </tr>
  <tr>
      <td>Gender</td>
      <td>{{gender}}</td>
  </tr>
  <tr>
      <td>Age</td>
      <td>{{age}}</td>
  </tr>
</table>
