/* You can add global styles to this file, and also import other style files */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

table {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
}

td {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: left;
}



